body {
    margin: 0;
    padding: 0;
    /*height: 77vh;*/
}
header{
    margin-top: auto;
    height: 100vh;
    /*height: 80vh;*/
}
.titreMesEvent {
    font-family: 'Grand Hotel', cursive;
    color: #1F1B4C;
    font-size: 4.5em;
    margin-top: 12.5%;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .titreMesEvent {
        font-family: 'Grand Hotel', cursive;
        color: #1F1B4C;
        font-size: 2.5em;
        margin-top: 82%;
        text-align: center;
    }
}

.navbar-inner {
    margin-left: 20%;
    margin-top: 0.8%;
}


#main-nav {
    z-index: 1001;
    height: 11%;
    padding: 1%;
    background-color: #1A1A1A;
}

#formInput {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#inputChercher {
    width: 29%;
    height: 2.3em;
    z-index: 100;

}
#buttonSearche{
  margin-left: -2.9em;
}

.glyphicon-search {
    z-index: 222;
    color: rgb(66, 133, 244);
}


/*Barre de recherche */

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
    height: auto;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.linksDrop {
    color: white;
    font-size: 17px;
    padding-left: 1.4em;
}

#DivDomApi {
    margin-top: 4%;
}

@media margin {
  -webkit-margin: 2em;
  -moz-margin: 2em;
  -ms-margin: 2em;
  margin: 2em;
}

.evenements {
  margin: 2vmin;
  height: 71vh;
  padding: 0;
  font-size: 0.4vmax;
}

#Api-Image{
  height: 70vh;
  background-color: #D3D3D3;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:  center;
}

#Api-Image img{
  width: auto;
  min-height: auto;
  max-height: 69vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Details{
    height: 70vh;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
    text-align: center;
}

#Api-Title{
    height: 30%;
    /*background-color: pink;*/
    margin: 0;
    padding: 0;
}

#ApiDate-Start{
    height: 10%;
    /*background-color: grey;*/
    margin: 0;
    padding: 0;
}

#ApiDate-End{
    height: 10%;
    /*background-color: coral;*/
    margin: 0;
    padding: 0;
}

#Api-Adresse{
    height: 10%;
    /*background-color: blue;*/
    margin: 0;
    padding: 0;
}

#Api-Prix{
    height: 10%;
    /*background-color: white;*/
    margin: 0;
    padding: 0;
}

#Api-Description{
    height: 30%;
    /*background-color: turquoise;*/
    margin: 0;
    padding: 0;
}

#Api-Description p {
  font-size: 0.7vmax;
}
