.body {
    margin: 0;
    background-color: #E3E0DF;
}


/*header*/

.titreMesEvent {
    font-family: 'Grand Hotel', cursive;
    padding-left: 15px;
    color: #414141;
    background-color: rgb(15, 22, 112);
    padding: 15px;
    color: white;
    font-size: 4em;
}

.titreIleDeFrance {
    background-color: rgb(15, 22, 112);
    font-family: serif;
    color: white;
    margin-top: 5%;
    font-size: 2.5em;
    width: 400px;
}

.div-button {
    display: inline-block;
}

.list-events {
    border-radius: 100%;
    width: 15%;
    height: 55px;
    color: white;
    background-color: rgb(133, 21, 21);
    border: none;
}

.links {
    margin: 20px;
    margin-top: 30px;
    background-color: white;
}


h3 {
    background-color: rgb(3, 2, 10);
    font-size: 3em;
    color: white;
}

.header {
    display: inline;
    margin: 10px;
}

.logo {
    height: 90px;
    width: 90px;
    margin-top: -99px;
    border-radius: 3px solid #BBBDBF;
    float: left;
    margin-left: 15px;
}

.area {
    font-family: 'Lato', sans-serif;
}

.search-areas {
    float: left;
}

.area {
    display: inline;
    font-weight: bold;
}

.boutonSerche {
    border-radius: 50px;
    border: none;
    background-color: #E3E0DF;
}
