body {
    margin: 0;
    padding: 0;
}

header {
    margin-top: auto;
    height: 100vh;
}

.titreMesEvent {
    font-family: 'Grand Hotel', cursive;
    color: #1F1B4C;
    font-size: 4.5em;
    margin-top: -7.5%;
    text-align: center;
}
.logo-chat{
  margin-top: -0.8%;
}
#btn-maison{
  font-size: 17px !important;
}

.navbar-inner {
    margin-top: -3.7%;
}

#cont{
  padding-left: 16em;
}

#main-nav {
    z-index: 1001;
    height: 11%;
    padding: 1%;
    background-color: #FFFFFF !important;
}

#formInput {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#inputChercher {
    width: 29%;
    height: 2.3em;
    z-index: 100;
}

#buttonSearche {
    margin-left: -2.9em;
}

.glyphicon-search {
    z-index: 222;
    color: #1F1B4C;
}


/*Barre de recherche */

.stylish-input-group .input-group-addon {
    background: #FFFFFF !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
    height: auto;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.linksDrop {
    color: black;
    font-size: 17px;
    padding-left: 1.4em;
}

#DivDomApi {
    margin-top: 2%;
}

@media margin {
    -webkit-margin: 2em;
    -moz-margin: 2em;
    -ms-margin: 2em;
    margin: 2em;
}

.evenement {
    margin: 2vmin;
    height: 71vh;
    padding: 0;
    font-size: 0.4vmax;
    margin-left: -77px;
}

a {
    color: #0088cc;
    text-decoration: none;
    font-size: 15px;
}

#Api-Image {
    height: 60vh;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

#Api-Image img {
    height: 55vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Details {
    height: 61vh;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

#Api-Title {
    height: 30%;
    margin: 0;
    margin-top: 19px;
    padding: 0;
}

#ApiDate-Start {
    height: 10%;
    margin: 0;
    margin-top: -16px;
    padding: 0;
}

#ApiDate-End {
    height: 10%;
    /*background-color: coral;*/
    margin: 0;
    padding: 0;
}

#Api-Adresse {
    height: 10%;
    margin: 0;
    padding: 0;
}

#Api-Prix {
    height: 10%;
    margin: 0;
    padding: 0;
}

#Api-Description {
    height: 30%;
    margin: 0;
    padding: 0;
}

#Api-Description p {
    font-size: 0.7vmax;
}
#map {
  width: 26%;
}
#container-location {
  width: auto;
  display: flex;
  height: 210px;
  margin-top: 6em;
  margin-left: 15px;
}

/*media query sur chrome*/

@media only screen and (max-width: 568px) and (min-width:320px) {
    .titreMesEvent {
        font-size: 2.1em;
       margin-top: -1.5%;
    }
    #inputChercher {
        width: 82%;
    }
    #DivDomApi {
    margin-top: 13%
}
    .navbar-inner {
        margin-top: -17%;
    }
    h3 {
        font-size: 16.5px !important;
    }
    #Api-Image img {
        height: 47vh;
    }
    #Api-Image {
        margin-top: -5em;
        margin-left: -2em;
    }
    #btn-maison{
      display: none;
    }
    #Api-Title {
        margin-top: -36px;
    }
    #Details {
        margin-left: -1em;
    }
    #container-location {
     display: none;
}
}

@media only screen and (max-width: 667px) and (min-width:375px) {
    .titreMesEvent {
        font-size: 2.5em;
        margin-top: 1em;
    }
    #DivDomApi {
    margin-top: 7%;
}
    .navbar-inner {
        margin-top: -17%;
    }
    #inputChercher {
        width: 72%;
    }
    #Api-Image img {
        height: 46vh;
    }
    #btn-maison{
      display: none;
    }
    #Api-Image {
        margin-top: -5em;
    }
    #Details {
        margin-left: -1em;
    }
    #container-location {
     display: none;
}
}

@media only screen and (max-width: 736px) and (min-width:414px) {
    .titreMesEvent {
        font-size: 2.5em;
        margin-top: 10.5%;
    }
    #inputChercher {
        width: 64%;
    }
    h3 {
        font-size: 12.5px;
    }
    .navbar-inner {
        margin-top: -17%;
    }
    #DivDomApi {
    margin-top: 13%;
}
    #ApiDate-Start {
        margin-top: -47px;
    }
    #btn-maison{
      display: none;
    }

    #Api-Image {
        margin-top: -6em;
    }
    a {
        font-size: 3em;
    }
    #Api-Image img {
        height: 47vh;
    }
    #Api-Title {
        margin-top: -26px;
    }
    #Api-Image {
        margin-top: -7em;
    }
    #container-location {
     display: none;
}
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    #inputChercher {
        width: 56%;
    }
    #ApiDate-Start {
        margin-top: -85px;
    }
    #Details {
        height: 53vh;
        margin-bottom: -15%;
    }
    #btn-maison{
      display: none;
    }

    .navbar-inner {
        margin-top: -8%;
    }
    h6 {
        font-size: 13.9px;
    }
    a {
        font-size: 16px;
    }
    #inputChercher {
    width: 42%;
}
    .titreMesEvent {
    font-size: 41px;
    margin-top: -11.5%;
}
    #container-location {
    margin-top: -0.2em;
}
}

@media only screen and (max-width: 1366px) and (min-width:1024px) {
    #Api-Image img {
        height: 30vh;
        width: 100%;
    }
    #Api-Image {
        height: 34vh;
    }
    #Details {
        height: 34vh;
    }
    #cont{
      margin-left: -0%;
      padding-left: 10em;
    }
    .navbar-inner {
        margin-top: -5%;
    }
    #main-nav {
        z-index: 1001;
        height: 7%;
        padding: 1%;
        background-color: #1A1A1A;
    }
    .titreMesEvent {
      font-size: 53px;
      margin-top: -10.5%;
    }
    #container-location {
    margin-top: 6.8em;
}
#inputChercher {
    width: 43%;
}
}
